@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/clearsans/clearsans_bold_macroman/ClearSans-Bold-webfont.eot');
    src: url('../fonts/clearsans/clearsans_bold_macroman/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans/clearsans_bold_macroman/ClearSans-Bold-webfont.woff') format('woff'),
         url('../fonts/clearsans/clearsans_bold_macroman/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/clearsans/clearsans_bold_macroman/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.eot');
    src: url('../fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.woff') format('woff'),
         url('../fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
